.title-bar {
    display: flex;
    align-items: center;
    background: white;
    height: 3rem;
    padding: 0 1rem 0 1.3rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-app-region: drag;
}

.title-bar-icon {
    font-size: 1.3rem;
    -webkit-app-region: drag;
    user-select: none;
    color:#00bf76;
}

.title-bar-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0; 
    top: 0;
}

.title-bar-btn {
    background: white; 
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 4px; 
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bar-btn i {
    font-size: 0.8rem;
    visibility: visible;
    opacity: 1;
}

.close-btn {
    background: white;
}

.maximize-btn {
    background: white;
}

.minimize-btn {
    background: white;
}

.title-bar-btn:hover {
    background: #f5f5f5; 
    border-color: #ccc;
}