<div class="title-bar">
    <div class="title-bar-icon">
        <i class="bi bi-wallet"></i>
    </div>
    <div class="title-bar-buttons">
        <button id="minimize-btn" class="title-bar-btn minimize-btn">
            <i class="bi bi-dash-lg"></i>
        </button>
        <button id="maximize-btn" class="title-bar-btn maximize-btn">
            <i class="bi bi-arrows-fullscreen"></i>
        </button>
        <button  id="close-btn" class="title-bar-btn close-btn">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
</div>
  