.title-bar {
    display: flex;
    align-items: center;
    background: white;
    height: 3rem;
    padding: 0 1rem 0 1.3rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-app-region: drag;
}

.title-bar-icon {
    font-size: 1.3rem;
    -webkit-app-region: drag;
    user-select: none;
    color:#00bf76;
}

.title-bar-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-bar-btn {
    border: none;
    margin-left: 10px;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    -webkit-app-region: no-drag;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bar-btn i {
    font-size: 0.8rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.close-btn {
    background: #FF605C;
}

.maximize-btn {
    background: #4CAF50;
}

.minimize-btn {
    background: #FFCC00;
}

.title-bar-btn:hover i {
    visibility: visible;
    opacity: 1;
}
