.title-bar {
    display: flex;
    align-items: center;
    background: white;
    height: 3rem;
    padding: 0 1rem 0 1.3rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-app-region: drag;
}

.title-bar-icon {
    font-size: 1.3rem;
    -webkit-app-region: drag;
    user-select: none;
    color:#00bf76;
}

.title-bar-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-bar-btn {
    border: none;
    margin-left: 10px;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    -webkit-app-region: no-drag;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bar-btn i {
    font-size: 0.8rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.close-btn {
    background: #FF605C;
}

.maximize-btn {
    background: #4CAF50;
}

.minimize-btn {
    background: #FFCC00;
}

.title-bar-btn:hover i {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
    -webkit-app-region: no-drag;
}

.dropdown-toggle-btn {
    font-size: 0.95rem;
    border-radius: 0.5rem;
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-right: 0.7rem;
}

.dropdown-toggle-btn:hover {
    background-color: #e3f2fd;
    transform: translateY(0.1rem);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
    list-style: none;
    padding: 0;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 100;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.dropdown-menu li {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-menu li:hover {
    background-color: #e3f2fd;
    color: #007bff;
}
  