<div class="modal-header">
  <h2 mat-dialog-title class="modal-title">Reîncărcări / Retrageri</h2>
  <button id="close-btn" class="title-bar-btn close-btn" mat-dialog-close>
    <i class="bi bi-x-lg"></i>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <form class="input-section-content" [formGroup]="modalForm">
    <table class="modal-table">
      <thead>
        <tr>
          <th>Luna</th>
          <th>Reîncărcare</th>
          <th>Retrageri</th>
        </tr>
      </thead>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
          <td>{{ row.get('label')?.value }}</td>
          <td>
            <mat-form-field class="modal-small-field">
              <mat-label>Reîncărcare</mat-label>
              <input matInput type="text" formControlName="topUp" (keydown)="modalDataService.allowOnlyNumbers($event)" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="modal-small-field">
              <mat-label>Retragere</mat-label>
              <input matInput type="text" formControlName="withdrawals" (keydown)="modalDataService.allowOnlyNumbers($event)" />
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-flat-button class="modal-save-button">Salvează</button>
</mat-dialog-actions>

