.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-title{
  margin: 0;  
  align-items: center;
}

.close-btn {
  font-size: 1.3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; 
  background: transparent; 
  cursor: pointer;
  padding: 0.3rem; 
  margin-right: 2.5rem;
  margin-top: 0.5rem;
}

.close-btn:hover {
  background: #ff5e5e;
  color: white;
}

.modal-table {
  width: 100%;
  border-collapse: collapse; 
}

.modal-table th, .modal-table td {
  border: 1px solid #ccc; 
  text-align: center; 
  vertical-align: middle; 
}

.modal-table th{
  color: #00bf76;
  font-weight:normal;
  padding: 5px;
}

.modal-table td{
  padding:0;
}

.modal-small-field {
  width: 100%; 
}

.mat-form-field {
  width: 100px; 
}

.modal-save-button{
  width: 92%;
  padding: 0.2rem;
  margin-right: 0.8rem;
  background: #00bf76;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 450;
}

.modal-save-button:hover{
  background: #02cd7f;
}

