<div class="ccontainer">
    <app-header
        title="Simulator de credit"
        formName="Credit"
        [exportToExcel]="exportToExcel.bind(this)"
        [exportToPDF]="exportToPDF.bind(this)"
        [clearSimulation]="clearSimulation.bind(this)">
    </app-header>
    <div class="content">
        <div class="input-section">
          <form class="input-section-content" [formGroup]="creditForm">
            <mat-form-field class="small-field">
              <mat-label>Suma împrumutată (Ron)</mat-label>
              <input matInput type="text" formControlName="loanAmount" (keydown)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Momentul contractării (după ... luni)</mat-label>
              <input matInput type="text" formControlName="contractingMoment" (keydown)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Perioada de rambursare (Luni)</mat-label>
              <input matInput type="text" formControlName="repaymentPeriod" (keydown)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Modul de rambursare</mat-label>
              <mat-select formControlName="repaymentMethod" >
                <mat-option *ngFor="let method of repaymentMethods" [value]="method.value">
                  {{ method.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Rambursare anticipată lunară (Ron)</mat-label>
              <input matInput type="text" formControlName="monthlyEarlyRepayment" (keydown)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Rata dobânzii actuale (%)</mat-label>
              <input matInput type="text" formControlName="currentInterestRate" (keydown)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Rata dobânzii ulterioare (%)</mat-label>
              <input matInput type="text" formControlName="subsequentInterestRate" (keydown)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Revizuirea ratei dobânzii (Luni)</mat-label>
              <mat-select formControlName="interestRateReviewPeriod">
                  <mat-option *ngFor="let period of months" [value]="period">
                    {{ period }}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Comision lunar (%)</mat-label>
              <input matInput type="text" formControlName="monthlyCommission" (keydown)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="small-field">
              <mat-label>Perioada de grație (Luni)</mat-label>
              <mat-select formControlName="gracePeriod">
                <mat-option *ngFor="let period of months" [value]="period">
                  {{ period }}
                </mat-option>
              </mat-select>
            </mat-form-field>          
          </form>    
        </div>
        <div class="output-section" [ngClass]="{'empty': dataSource.data.length === 0}">
          <div class="results-container" *ngIf="dataSource.data.length > 0">
            <div class="results">
              <div class="result-item">
                <span>📅 Creditul se poate închide în:</span> 
                <div>{{totalPeriod}} luni</div>
              </div>
              <div class="result-item">
                <span>💰 Totalul de rambursat este:</span> 
                <div>{{totalToPay}} RON</div>
              </div>
            </div>
          </div>          
          <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
            <ng-container matColumnDef="luna">
              <th mat-header-cell *matHeaderCellDef> Luna </th>
              <td mat-cell *matCellDef="let element"> {{element.luna}} </td>
            </ng-container>
            <ng-container matColumnDef="soldInitial">
              <th mat-header-cell *matHeaderCellDef> Sold Inițial </th>
              <td mat-cell *matCellDef="let element"> {{element.soldInitial}} </td>
            </ng-container>
            <ng-container matColumnDef="anuitate">
              <th mat-header-cell *matHeaderCellDef> Anuitate </th>
              <td mat-cell *matCellDef="let element"> {{element.anuitate}} </td>
            </ng-container>
            <ng-container matColumnDef="principal">
              <th mat-header-cell *matHeaderCellDef> Principal </th>
              <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
            </ng-container>
            <ng-container matColumnDef="dobanda">
                <th mat-header-cell *matHeaderCellDef> Dobândă </th>
                <td mat-cell *matCellDef="let element"> {{element.dobanda}} </td>
              </ng-container>
              <ng-container matColumnDef="comisionLunar">
                <th mat-header-cell *matHeaderCellDef> Comision Lunar </th>
                <td mat-cell *matCellDef="let element"> {{element.comisionLunar}} </td>
              </ng-container>
              <ng-container matColumnDef="totalPlata">
                <th mat-header-cell *matHeaderCellDef> Total Plată </th>
                <td mat-cell *matCellDef="let element"> {{element.totalPlata}} </td>
              </ng-container>
              <ng-container matColumnDef="rambursareAnticipata">
                <th mat-header-cell *matHeaderCellDef> Rambursare Anticipată </th>
                <td mat-cell *matCellDef="let element"> {{element.rambursareAnticipata}} </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
          *ngIf="dataSource.data.length > 0"
            [pageSize]="12"
            [hidePageSize]="true"
            [length]="dataSource.data.length"
            showFirstLastButtons>
          </mat-paginator>
          <div *ngIf="dataSource.data.length === 0" class="empty-state" >
            <p>📊 Nu sunt date disponibile momentan.</p>
            <p>💡 Vă rugăm să introduceți datele și să porniți simularea pentru a vedea rezultatele.</p>
          </div>            
        </div>
    </div>
</div>
   